@import 'variables.scss';

.destination-image {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.saved-trip{
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}

.saved-trip a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}


.delete-trip,
.save-trip{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    background: $green;
    color: #FFF;
    padding: 0.9em 2.3em;
    display: inline-block;
    margin: 1em 0;
}

.delete-trip{
    background: $red;
}

.trip-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.days-remaining-wrapper,
.coordinates-wrapper,
.weather-wrapper {
    background: rgba($blue, .8);

    border-radius: 8px;
    padding: 1em;
}

.weather-wrapper {
    grid-column: span 2;
}

.destination-wrapper h3 {
    margin: 0;
    font-size: 2.4444em;
}

.days-remaining,
.temp,
.min-temp,
.max-temp {
    font-size: 3.3333em;
}


.temp::before{
    content: '';
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;;
    background: url(../media/img/ico-temp.svg) center center no-repeat;
    background-size: contain;
}
