@import 'variables.scss';

/* all elements border-box */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    color: #FFF;
    background-color: $blue;
    margin: 0;
    padding: 1.1111em;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale 
}

a {
    color: #FFF;
    text-decoration: none;
}

.templogo {
    width: 100px;
}

.main-search,
.current-trip,
.my-trips {
    display: none;
}


.search-view .main-search,
.current-view .current-trip,
.trips-view .my-trips{
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}
