$blue: #264653;
$green: #2A9D8F;
$red : #E76F51;


body {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    color: #FFF;
    background-color: $blue;
}

a {
    color: #FFF;
    text-decoration: none;
}

.templogo {
    width: 100px;
}

.main-search,
.current-trip,
.my-trips {
    display: none;
}


.search-view .main-search,
.current-view .current-trip,
.trips-view .my-trips{
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}


.current-trip {
  
}


.destination-image {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.saved-trip{
    margin-bottom: 2em;
    padding: 1em;
    position: relative;
}

.saved-trip a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.delete-trip,
.save-trip{
    background: $green;
    color: #FFF;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0.2em 0;
}

.delete-trip{
    background: $red;
}